@import "tailwindcss";

@theme {
  --animate-marquee: marquee linear infinite;
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  body {
    @apply bg-[#0A0E12] text-white antialiased;
  }
}

/* Custom Utilities if needed */
@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 245, 160, 0.5);
  }
}
